*,
*::before,
*::after{-webkit-box-sizing:border-box;box-sizing:border-box;}
::-moz-selection{background-color:var(--amarillo);color:#fff;}
::selection{background-color:var(--amarillo);color:#fff;}
::-webkit-input-placeholder{color:var(--marron);}
:root{--amarillo:#FFC53D;--marron:#824C00;}
html{font-size:1vw;}
body{font-family:'Asap';color:#413E4A;font-weight:200;font-size:1rem;background: linear-gradient(135deg, #ffcc00, #107acc);}
body.abierto{overflow: hidden;}
a{display:inline-block;}
section{position:relative;}
footer{}
footer .prefooter{position:relative;bottom:-4rem;}
footer .pie{color:#fff;padding-bottom:1rem;background-color:rgb(7,19,48);padding-top:5rem;}
footer .pie a{color:#fff;}
footer .pie .lista-redes{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end;-webkit-box-align:center;-ms-flex-align:center;align-items:center;}
footer .pie .lista-redes a{margin-left:1rem;font-size:1.2rem;}
.cabecera{transition: all .5s ease;padding-top:1rem;padding-bottom:1rem;position:fixed;top:0;left:0;width:100%;z-index:999;}
.cabecera.fondo{background-color:

.contenedor-contador p {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}
